@model IEnumerable<WebApplication13.Models.items>
@{
    ViewData["Title"] = "Home Page";
}
<!--
<table>
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.name_tovar</td>
            <td>@item.price_tovar</td>
            <td>@item.photo</td>
            <td><a href="~/Home/Buy/@item.Id">Купить</a></td>
        </tr>
    }
</table>

@await Html.PartialAsync("PartSlider")
@await Html.PartialAsync("PartProduct")
    -->
